/* Buttons */
ul
{
  display: inline-block;
  text-align: left;
  color: purple;
  text-shadow: 3px 3px 3px blue;
}
li
{
  display: inline-block;
  height: 30px;
  width: 200px;
  text-align: center;
  color: purple;
  border-left: 2px solid green;
  border-right: 2px solid green;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  background-color: pink;
  border-radius: 5px;
}
li:hover
{
  background-color: lightgreen;
  border-left: 2px solid pink;
  border-right: 2px solid pink;
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;
}
li:active
{
  color: white;
  border-left: 2px solid pink;
  border-right: 2px solid pink;
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;
  background-color: purple;
}
/*Header*/
h1
{
  color: blue;
  text-align: center;
}
p
{
  font-style: italic;
  text-align: center;
  color: aqua;
}
form
{
  margin-left: 10%;
}
/*invoer data*/
input[type="text"], 
input[type="email"], 
input[type="date"], 
input[type="tel"], 
textarea, 
select, 
button
{
  padding-left: 5px;
  display: block;
  width: 90%;
  box-sizing: border-box;
  border-radius: 4px; 
  box-shadow: inset 2px 2px 5px green;
}

textarea
{
  height: 100px;
  padding: 5px 5px;
}

button:active
{
  background-color: darkgreen;
  color: white;
  border-radius: 4px; 
  box-shadow: inset 2px 2px 5px blue;
}
button:hover
{
  background-color: aqua;
}
/*Footer*/
footer
{
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: darkorange;
  color:darkblue;
}
h6
{
  text-align: center;
}
